# macOS
.DS_Store
._*
__MACOSX/
Icon?

# Editor state
.cortex-debug.*.state.json
.vs/
.vscode/settings.json

# Firmware build output
firmware/chompi-usb-storage/code/src/build/
firmware/chompi-drone/code/src/build/
firmware/chompi-tape/code/src/build/
firmware/chompi-tempo/code/src/build/
firmware/chompi-tape/code/src/build_log.txt
